// Fonts:
$font-size-base: 14px;
$sidebar-block: ceil(($font-size-base * 1.25)) !default; // ~18px
// Breakpoints:
// Note: If you're using the Breakpoint mixin,
// make sure to use the correct syntax: http://breakpoint-sass.com/
$break-small: max-width 480px;
$break-medium: max-width 768px;
$break-large: max-width 980px;
////////////////////////
// Vendor Settings:
////////////////////////
// Legacy IE Support For Compass:
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

html,
body {
  font-family: $font-family-sans-serif !important;
  font-size: $font-size-base;
}

span.our-number {
  font-size: 1.6em;
}

.navbar-nav li a {
  font-family: $font-family-oswald;
  font-size: $font-size-base * 1.07;
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  font-size: $font-size-base*1.3;
  text-transform: uppercase;
  color: $gray-dark-70-percent;
  border-bottom: $blue solid 3px;
  padding-bottom: 7px;
  margin-bottom: 9px;
  margin-top: 1em;
}

h4 {
  font-size: $font-size-base*1.1;
}

h4.featured {
  margin-top: 0.5em;
}

a h4 {
  color: $gray-dark-70-percent;
}

p.featured {
  font-size: $font-size-base*0.85;
}

#cover-title {
  font-size: $font-size-base*1.2;
  font-weight: 600;
  line-height: 1.2;
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 52.5%;
}

#cover-subtitle {
  font-size: $font-size-base*0.9;
  font-weight: 600;
  white-space: pre;
  border-top: 2px solid black;
  padding-top: 0.3em;
  width: min-content;
}

#tagline-block {
  font-size: $font-size-base*3;
  font-family: $font-boxes-homepage;
  font-weight: 400;
}

#tagline-blockxs {
  color: white;
  opacity: .8;
  padding: 1em 0 .5em 0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: auto;
  position: relative;
  font-size: $font-size-base*2.5;
  font-family: $font-boxes-homepage;
  font-weight: 400;
  top:28%;
}

.quicklinks {
  font-weight: 500;  
}

.quicklinks>h1 {
  font-size: inherit;
}

.sdgbox {
    font-family: $font-boxes-homepage;
    color: #fff;
    padding: 1rem;
    padding-top: 2rem;
    background-position: right top !important;
    background-size: 120px 120px !important;
    text-align: left;
    display: none;

    h2,h3{
      padding-left: 2rem;
      a {
        color: white;
      }
    }
    h3 {
        color: white;
        border: none;
        font-weight: 300;
        font-size: 1.4em;
        text-transform: none;
        border-bottom: 2px solid white;
        padding-bottom: 1.5rem;
    }

    p {
        font-weight: 100;
        font-size: 1.2em;
        text-align: center;
        a {
          color: white;
        }
    }
    .read{
      font-family: $font-family-sans-serif;
      color:white;
      border: 2px solid white;
      padding: 0.3rem 0.5rem;
      position: absolute;
      top:2px;
      right: 2rem;
    }
}
