.sdg-wheel-wrap {
    position: relative;
    width: 35%;
    min-width: 475px;
    min-height: 475px;
    top: 1.5em;
}

.maroma {
    transform: rotate(360deg);
    transition-duration: 2s;
}

.arc {
    cursor: pointer;

    // &:active {
    //     transform: scale(1.1);
    //     transition-duration: 1s;
    // }
}

$percentage-alter: 15%;

#sdg-1:hover path{
  fill: lighten(rgb(231, 34, 60), $percentage-alter) !important;
}
#sdg-2:hover path{
  fill: lighten(rgb(222, 167, 58), $percentage-alter) !important;
}
#sdg-3:hover path{
  fill: lighten(rgb(76, 162, 70), $percentage-alter) !important;
}
#sdg-4:hover path{
  fill: lighten(rgb(199, 32, 47), $percentage-alter) !important;
}
#sdg-5:hover path{
  fill: lighten(rgb(240, 63, 46), $percentage-alter) !important;
}
#sdg-6:hover path{
  fill: lighten(rgb(38, 192, 231), $percentage-alter) !important;
}
#sdg-7:hover path{
  fill: lighten(rgb(251, 196, 18), $percentage-alter) !important;
}
#sdg-8:hover path{
  fill: lighten(rgb(164, 28, 69), $percentage-alter) !important;
}
#sdg-9:hover path{
  fill: lighten(rgb(242, 106, 47), $percentage-alter) !important;
}
#sdg-10:hover path{
  fill: lighten(rgb(223, 21, 104), $percentage-alter) !important;
}
#sdg-11:hover path{
  fill: lighten(rgb(248, 157, 41), $percentage-alter) !important;
}
#sdg-12:hover path{
  fill: lighten(rgb(192, 142, 44), $percentage-alter) !important;
}
#sdg-13:hover path{
  fill: lighten(rgb(63, 127, 69), $percentage-alter) !important;
}
#sdg-14:hover path{
  fill: lighten(rgb(31, 151, 213), $percentage-alter) !important;
}
#sdg-15:hover path{
  fill: lighten(rgb(89, 187, 71), $percentage-alter) !important;
}
#sdg-16:hover path{
  fill: lighten(rgb(18, 106, 159), $percentage-alter) !important;
}
#sdg-17:hover path{
  fill: lighten(rgb(19, 72, 107), $percentage-alter) !important;
}

.c-ring {
    width: 100%;
    margin: 0;
    position: relative;
    padding-bottom: 80%;

    #center-image {
      position: absolute;
      top: 255px;
      left: 159px;
      width: 171px;
    }

    svg.outer-circle {
        left: 0;
    }

    svg {
        position: absolute;
        top: 0;
        left: -20px;
        overflow: visible;
        display: inline-block;

        &:not(:root) {
            overflow: hidden;
        }

        text {
            pointer-events: none;
            font-family: "Roboto", sans-serif;
            font-size: 1.6em;
            font-weight: 700;
        }
    }
}

audio,
canvas,
iframe,
svg,
video,
object,
input,
textarea {
    vertical-align: middle;
    max-width: 100%;
}
